.bell-button {
    color: #555;
    background-color: white;
    font-size: 18px;
    padding: 8px;
    border: none;
    cursor: pointer;
    transition-duration: 0.4s;
}

.bell-button:hover {
    background-color: #ddd;
}

.bell-button:hover {
    background-color: #f1f1f1;
}

.bell-list {
    right: 0;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
}

.bell-list a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.bell-list a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

i {
    pointer-events: none;
}
