@page
@model Lightaplusplus.Pages.CourseOverviewModel
@{
    ViewData["Title"] = "Instructor Overview";
}

<div class="edit-link" style="float:right">
    <a class="btn btn-primary" asp-page="/CreateSection" asp-route-id="@Model.Users.ID">Create New Section</a>
</div>

<div class="row">
    @if (Model.sectionsTaught.Length > 0)
    {
        foreach (var card in Model.sectionsTaught)
        {
            <div class="col-4" style="padding-bottom:5%">
                <component type="typeof(Components.InstructorClassComponent)" render-mode="Static" param-ClassNumber='card.Course.CourseNumber'
                           param-ClassName='card.Course.CourseName'
                           param-StartTime='Convert.ToDateTime(card.SectionTimeStart)' param-EndTime='Convert.ToDateTime(card.SectionTimeEnd)'
                           param-DaysTaught='card.DaysTaught' param-ClassCode='card.Course.CourseCode'
                           param-Link='"/Welcome?id=7"' />
            </div>
        }
    }
    else
    {
        <h3>No sections currently being taught.</h3>
    }
</div>