@page
@model Lightaplusplus.Pages.EditProfileModel
@{
    ViewData["Title"] = "User Profile";
}

<style>
    .center {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
</style>

<div class="row">
    <div class="col-4">
        <img src="img/placeholder.png" alt="Avatar" style="border-radius: 50%; height: 225px; width: 225px; margin:auto " />
    </div>
    <div class="col-8 center">
        <form>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>First Name</label>
                    <input class="form-control" placeholder="Jonathan" value=@Html.DisplayFor(model => model.Users.firstname)>
                </div>
                <div class="form-group col-md-6">
                    <label>Last Name</label>
                    <input class="form-control" placeholder="Smith" value=@Html.DisplayFor(model => model.Users.lastname)>
                </div>
            </div>
            <div class="form-group">
                <label for="inputAddress">Address</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St." value=@Html.DisplayFor(model => model.Users.addressline1)>
            </div>
            <div class="form-group">
                <label for="inputAddress2">Address 2</label>
                <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor" value=@Html.DisplayFor(model => model.Users.addressline2)>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputCity">City</label>
                    <input type="text" class="form-control" id="inputCity" placeholder="Downtown Coolsville" value=@Html.DisplayFor(model => model.Users.addresscity)>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputState">State</label>
                    <input type="text" class="form-control" id="inputState" placeholder="Alberta" value=@Html.DisplayFor(model => model.Users.addressstate)>
                </div>
                <div class="form-group col-md-2">
                    <label for="inputZip">Zip</label>
                    <input type="text" class="form-control" id="inputZip" placeholder="12345" value=@Html.DisplayFor(model => model.Users.addresszip)>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="inputLink1">Link</label>
                    <input type="text" class="form-control" id="inputLink1">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="inputLink2">Link</label>
                    <input type="text" class="form-control" id="inputLink2">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="inputLink3">Link</label>
                    <input type="text" class="form-control" id="inputLink3">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="inputBio">Biography</label>
                    <textarea class="form-control" placeholder="Your Bio Here" value=@Html.DisplayFor(model => model.Users.bio))></textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Update Information</button>
            <button class="btn btn-danger">Cancel</button>
        </form>
    </div>
</div>