@page
@model User_Management_System.Pages.SignUpModel
@{
    ViewData["Title"] = "Sign Up";
}

<div>
    <h1>Sign Up</h1>

    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div class="form-group">
                    <label asp-for="Email" class="control-label">Email</label>
                    <input asp-for="Email" class="form-control" type="email" required/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Users.password" class="control-label">Password</label>
                    <input asp-for="Users.password" class="form-control" type="password" required/>
                    <span asp-validation-for="Users.password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Confirm Password</label>
                    <input class="form-control" type="password" required/>
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Users.birthday" class="control-label">Birthday</label>
                    <input asp-for="Users.birthday" class="form-control" type="date" required/>
                    <span asp-validation-for="Users.birthday" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Users.firstname" class="control-label">First Name</label>
                    <input asp-for="Users.firstname" class="form-control" required/>
                    <span asp-validation-for="Users.firstname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Users.lastname" class="control-label">Last Name</label>
                    <input asp-for="Users.lastname" class="form-control" required/>
                    <span asp-validation-for="Users.lastname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">What kind of user are you?</label>
                    <br /><span asp-validation-for="UserType" class="text-danger"></span>
                    @foreach (var userType in Model.UserTypes)
                    {
                        <div class="form-check">
                            <input type="radio" form-check-input" value="@userType" asp-for="UserType" id="radio@(userType)" />
                            <label class="form-check-label" for="radio@(userType)">@userType</label>
                        </div>
                    }

                </div>
                <button type="submit" class="btn btn-primary">Create Account</button>
                <a class="btn btn-danger" asp-page="Index">Cancel</a>
            </form>
        </div>
    </div>
    <br />
</div>

