@page
@model Lightaplusplus.Pages.WelcomeModel
@{
    ViewData["Title"] = "Welcome";
}

<!DOCTYPE html>

<html lang='en'>

<head>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href='~/lib/fullcalendar/lib/main.css' rel='stylesheet' />
    <script src='~/lib/fullcalendar/lib/main.js'></script>

    <script>
        //https://fullcalendar.io/docs/eventClick
        //https://fullcalendar.io/docs/recurring-events
        //https://fullcalendar.io/docs/event-object
        //https://fullcalendar.io/docs/Calendar-addEvent

        function createEvent(eventtitle, days, start, end) {
            var event = {
                title: eventtitle,
                daysOfWeek: days,
                startTime: start,
                endTime: end,
            }

            return event
        }

        var calendarevents = [];

        function createAssignments() {
            var evs = @Html.Raw(Json.Serialize(Model.assignmentEvents));
            //console.log(evs);
            return evs;
        }

        function createCourses() {
            var evs = @Html.Raw(Json.Serialize(Model.sectionEvents));

            for (var i = 0; i < evs.length; ++i) {
                calendarevents.push(createEvent(evs[i].title, evs[i].daysOfWeek, evs[i].startTime, evs[i].endTime));
            }
            
            return evs;
        }

        calendarevents = createAssignments();
        createCourses();
        
        console.log(calendarevents)

        //createAssignments();
        //calendarevents.push(createEvent("CS1234", [2, 4], "10:00:00", "11:00:00"))
        //calendarevents.push(createEvent("CS000", [3, 5], "10:00:00", "11:00:00"))
        //calendarevents.push({title: "test", start: "2021-03-12 10:00:00"})

        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            console.log("Building calendar")
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                events: calendarevents,
                headerToolbar: {
                    left: 'prev, next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
            });
            console.log(calendar)
            calendar.render();
        });

    </script>

</head>
<body>
    <div class="row">
        <div class="col-9">
            <h1>Welcome</h1>
            <h4>@Html.DisplayFor(model => model.Users.firstname) @Html.DisplayFor(model => model.Users.lastname)</h4>
            <div class="row">
                @{ 
                    if (Model.Users.usertype == 'I')
                    {
                        foreach (var card in Model.SectionsArray)
                        {
                            <div class="col-4" style="padding-bottom:5%">
                                <component type="typeof(Components.InstructorClassComponent)" render-mode="Static" param-ClassNumber='card.Course.CourseNumber'
                                    param-ClassName='card.Course.CourseName'
                                    param-StartTime='Convert.ToDateTime(card.SectionTimeStart)' param-EndTime='Convert.ToDateTime(card.SectionTimeEnd)'
                                    param-DaysTaught='card.DaysTaught' param-ClassCode='card.Course.CourseCode'
                                    param-Link='$"/Courses/{card.SectionId}?id={Model.Users.ID}"' />
                            </div>
                        }
                    }
                    else if (Model.Users.usertype == 'S')
                    {
                        foreach (var card in Model.SectionsArray)
                        {
                            <div class="col-4" style="padding-bottom:5%">
                                <component type="typeof(Components.ClassComponent)" render-mode="Static" param-ClassNumber='card.Course.CourseNumber'
                                param-ClassName='card.Course.CourseName' param-Instructor='card.Instructor.firstname + " " + card.Instructor.lastname'
                                param-DaysTaught='card.DaysTaught' param-StartTime='Convert.ToDateTime(card.SectionTimeStart)' param-EndTime='Convert.ToDateTime(card.SectionTimeEnd)'
                                param-Link='$"/Courses/{card.SectionId}?id={Model.Users.ID}"' />
                            </div>
                        }

                    }
                }
            </div>
        </div>
        <div class="col-3">
            <h4>To-Do List</h4>
            
            @for (var i = 0; i < 5 && i < Model.TodoAssignments.Count; i++)
            {
                    <component type="typeof(Components.ToDoListComponent)" render-mode="Static" param-ClassNumber='$"{Model.TodoAssignments[i].Section.Course.CourseCode} {Model.TodoAssignments[i].Section.Course.CourseNumber}"'
                    param-AssignmentName='$"{Model.TodoAssignments[i].AssignmentTitle}"'
                    param-DueDate='$"{Model.TodoAssignments[i].AssignmentDueDateTime.ToString("MM/dd/yyyy")} at {Model.TodoAssignments[i].AssignmentDueDateTime.ToString("h:mm tt")}"'
                    param-CourseLink='$"/Courses/{Model.TodoAssignments[i].SectionId}?id={Model.Users.ID}"'
                    param-AssignmentLink='$"/Courses/{Model.TodoAssignments[i].SectionId}/Assignments/{Model.TodoAssignments[i].AssignmentId}?id={Model.Users.ID}"' />
            }
            @if(Model.TodoAssignments.Count < 1)
            {
                <p>Lucky you! It looks like you have nothing on your to-do list for now.</p>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-9">
            <div id='calendar'></div>
        </div>
        
    </div>
</body>
</html>