@page
@model Lightaplusplus.Pages.WelcomeModel
@{
    ViewData["Title"] = "Welcome";
}

<!DOCTYPE html>

<html lang='en'>

<head>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href='~/lib/fullcalendar/lib/main.css' rel='stylesheet' />
    <script src='~/lib/fullcalendar/lib/main.js'></script>

    <script>
        //https://fullcalendar.io/docs/eventClick
        //https://fullcalendar.io/docs/recurring-events
        //https://fullcalendar.io/docs/event-object
        //https://fullcalendar.io/docs/Calendar-addEvent

        function createEvent(eventtitle, days, start, end) {
            var event = {
                title: eventtitle,
                daysOfWeek: days,
                startTime: start,
                endTime: end,
            }
            return event
        }

        function createAssignmentEvent(eventtitle, start, end, link) {
            var event = {
                title: eventtitle,
                start: start,
                end: end,
                type: "assignment",
                redirect: link,//"/Courses/1011/Assignments/2015", // "/Courses/" + sectionid + "/Assignments/" + assignmentid
            }
            return event
        }
        

        var calendarevents = [];

        function createAssignments() {
            var evs = @Html.Raw(Json.Serialize(Model.assignmentEvents));
            //console.log(evs);
            for (var i = 0; i < evs.length; ++i) {
                calendarevents.push(createAssignmentEvent(evs[i].title, evs[i].start, evs[i].end, evs[i].link));
            }
            return evs;
        }

        function createCourses() {
            var evs = @Html.Raw(Json.Serialize(Model.sectionEvents));

            for (var i = 0; i < evs.length; ++i) {
                calendarevents.push(createEvent(evs[i].title, evs[i].daysOfWeek, evs[i].startTime, evs[i].endTime));
            }
            
            return evs;
        }

        createAssignments();

        createCourses();
        
        console.log(calendarevents)

        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            console.log("Building calendar")
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                events: calendarevents,
                headerToolbar: {
                    left: 'prev, next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                eventClick: function (info) {
                    info.jsEvent.preventDefault(); // don't let the browser navigate
                    console.log(info.event);
                    if (info.event.extendedProps.type == "assignment") {
                        console.log("Redirecting to " + info.event.extendedProps.redirect);
                        //window.location.href = "/asdf"
                        //https://localhost:44300/Courses/1011/Assignments/2015?id=7
                        window.location.href = info.event.extendedProps.redirect
                    }
                },
            });
            console.log(calendar)
            calendar.render();
        });

    </script>

</head>
<body>
    <div class="row">
        <div class="col-9">
            <h1>Welcome</h1>
            <h4>@ViewData["UserName"]</h4>
            <div class="row">
                @{ 
                    if ((string)ViewData["UserType"] == "I")
                    {
                        foreach (var card in Model.SectionsArray)
                        {
                            <div class="col-4" style="padding-bottom:5%">
                                <component type="typeof(Components.InstructorClassComponent)" render-mode="Static" param-ClassNumber='card.Course.CourseNumber'
                                    param-ClassName='card.Course.CourseName'
                                    param-StartTime='Convert.ToDateTime(card.SectionTimeStart)' param-EndTime='Convert.ToDateTime(card.SectionTimeEnd)'
                                    param-DaysTaught='card.DaysTaught' param-ClassCode='card.Course.CourseCode'
                                    param-Link='$"/Courses/{card.SectionId}"' />
                            </div>
                        }
                    }
                    else if ((string)ViewData["UserType"] == "S")
                    {
                        foreach (var card in Model.SectionsArray)
                        {
                            <div class="col-4" style="padding-bottom:5%">
                                <component type="typeof(Components.ClassComponent)" render-mode="Static" param-ClassNumber='card.Course.CourseNumber'
                                param-ClassName='card.Course.CourseName' param-Instructor='card.Instructor.firstname + " " + card.Instructor.lastname'
                                param-ClassCode='card.Course.CourseCode'
                                param-DaysTaught='card.DaysTaught' param-StartTime='Convert.ToDateTime(card.SectionTimeStart)' param-EndTime='Convert.ToDateTime(card.SectionTimeEnd)'
                                param-Link='$"/Courses/{card.SectionId}"' />
                            </div>
                        }

                    }
                }
            </div>
        </div>
        <div class="col-3">
            <h4>To-Do List</h4>
            
            @for (var i = 0; i < 5 && i < Model.TodoAssignments.Count; i++)
            {
                    <component type="typeof(Components.ToDoListComponent)" render-mode="Static" param-ClassNumber='$"{Model.TodoAssignments[i].Section.Course.CourseCode} {Model.TodoAssignments[i].Section.Course.CourseNumber}"'
                    param-AssignmentName='$"{Model.TodoAssignments[i].AssignmentTitle}"'
                    param-DueDate='$"{Model.TodoAssignments[i].AssignmentDueDateTime.ToString("MM/dd/yyyy")} at {Model.TodoAssignments[i].AssignmentDueDateTime.ToString("h:mm tt")}"'
                    param-CourseLink='$"/Courses/{Model.TodoAssignments[i].SectionId}"'
                    param-AssignmentLink='$"/Courses/{Model.TodoAssignments[i].SectionId}/Assignments/{Model.TodoAssignments[i].AssignmentId}"' />
            }
            @if(Model.TodoAssignments.Count < 1)
            {
                <p>Lucky you! It looks like you have nothing on your to-do list for now.</p>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-9">
            <div id='calendar'></div>
        </div>
        
    </div>
</body>
</html>