@page
@model Lightaplusplus.Pages.WelcomeModel
@{
    ViewData["Title"] = "Welcome";
}

<!DOCTYPE html>

<html lang='en'>

<head>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href='~/lib/fullcalendar/lib/main.css' rel='stylesheet' />
    <script src='~/lib/fullcalendar/lib/main.js'></script>

    <script>

        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialVeiw: 'dayGridMonth',
                headerToolbar: {
                    left: 'prev, next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
            });
            calendar.render();
        });

    </script>

</head>
<body>
    <div class="row">
        <div class="col-9">
            <h1>Welcome</h1>
            <h4>@Html.DisplayFor(model => model.Users.firstname) @Html.DisplayFor(model => model.Users.lastname)</h4>
            <div class="row">
                @for (var i = 0; i < 6; i++)@* Will need to repalce with for each*@
                {
                    <div class="col-4" style="padding-bottom:5%">
                        <component type="typeof(Components.ClassComponent)" render-mode="Static" param-ClassNumber='"CS 0000"'
                                   param-ClassName='"Class Name"' param-Instructor='"Instructor Name"'
                                   param-StartTime='Convert.ToDateTime("10:00")' param-EndTime='Convert.ToDateTime("12:00")'
                                   param-Link='"/Welcome?id=3"' /> @* Will need to repalce Class information*@
                    </div>
                 }
            </div>
        </div>
        <div class="col-3">
            <h4>To-Do List</h4>
            
            @for (var i = 0; i < 5; i++)
            {
                    <component type="typeof(Components.ToDoListComponent)" render-mode="Static" param-ClassNumber='"CS 0000"'
                    param-AssignmentName='"Impossible Quiz #12"'
                    param-DueDate='"2/12/21 at 11:59"'
                    param-Link='"/Welcome?id=3"' /> @* Will need to repalce Class information*@
            }
        </div>
    </div>
    <div class="row">
        <div class="col-9">
            <div id='calendar'></div>
        </div>
        
    </div>
</body>
</html>