@page
@model Lightaplusplus.Pages.Courses.Assignments.EditAssignmentModel

@{
    ViewData["Title"] = "EditAssignment";
}

<h1>Edit Assignment</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="AssignmentTitle" class="control-label">Assignment Title</label>
                <input asp-for="AssignmentTitle" class="form-control" />
                <span asp-validation-for="AssignmentTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssignmentDescription" class="control-label">Description</label>
                <input asp-for="AssignmentDescription" class="form-control" />
                <span asp-validation-for="AssignmentDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssignmentDueDateTime" class="control-label"></label>
                <input asp-for="AssignmentDueDateTime" class="form-control" />
                <span asp-validation-for="AssignmentDueDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssignmentMaxPoints" class="control-label">Max Points</label>
                <input asp-for="AssignmentMaxPoints" class="form-control" />
                <span asp-validation-for="AssignmentMaxPoints" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssignmentSubmissionType" class="control-label">Submission Type:</label>
                <div class="form-check">
                    <input asp-for="AssignmentSubmissionType" id="File" type="radio" value="F" />
                    <label class="form-check-label" for="File">File Submission</label><br />
                    <input asp-for="AssignmentSubmissionType" id="Text" type="radio" value="T" />
                    <label class="form-check-label" for="Text">Text Submission</label>
                </div>
                <span asp-validation-for="AssignmentSubmissionType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save Changes</button>
                <a class="btn btn-danger"
                   asp-page="/Courses/Assignments/SubmitAssignment"
                   asp-route-assignmentId="@Model.AssignmentId"
                   asp-route-sectionId="@Model.SectionId"
                   asp-route-id="@Model.Users.ID">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
