@page "{sectionId:int}"
@model Lightaplusplus.Pages.Courses.View.IndexModel
@{
    <h1>@Model.Section.Course.CourseCode @Model.Section.Course.CourseNumber </h1>
    <h2>@Model.Section.Course.CourseName</h2>
}
